.material-icons {
	vertical-align: text-bottom;
}

header [role="group"] {
	display: flex;
	justify-content: space-between;
}

header [role="group"]>* {
	flex: none;
}

section[role="group"] {
	gap: 1em;
}
